<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-8">
                    <h1>Counter Game</h1>
                </div>
                <div class="col">
                    <button class="btn btn-secondary mt-2">Toggle History</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" (click)="increment()">Increment</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary" (click)="decrement()">Decrement</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary">Add 5</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary">Subtract 5</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <span class="badge badge-dark p-3">{{ count$ | async }}</span>
                </div>
            </div>
        </div>
    </div>
</div>